<!-- Navbar
    ================================================== -->
<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand"><img src="app/assets/stackuplogofb.jpg"></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">HOME<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        COURSES
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated fadeIn">
                        <li><a href="#">Coder In You</a></li>
                        <li><a href="#">Full Stack Foundation</a></li>
                        <li><a href="#">DevOps</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a ui-sref="events">EVENTS</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">STUDENT PROFILES</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><u>LOGIN</u></a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SEARCH">
                </div>
                <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--navbar ends-->

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="../app/home/img/empower.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption animated fadeInUp">
                    <h1 class="custom-margin">EVENTS</h1>
                    <p class="custom-margin">Join us for learning opportunities in software development, data analysis, and
                        more.</p>
                    <!--<p class="custom-margin"><a class="btn btn-lg btn-default-outline" href="#" role="button">SIGN-->
                    <!--UP</a></p>-->
                </div>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->
<!--second navbar for events only-->

<!--<ul class="nav justify-content-center">-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link active" href="#">Active</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
    <!--</li>-->
<!--</ul>-->

<!--end second navbar-->

<!--Start of events-->

<!--<hr class="featurette-divider">-->
<h1 align="center" class="events-title">Upcoming Events</h1>

<h3 class="events-main-h3">21 MAY 2017</h3>
<hr class="featurette-divider">
<div class="row featurette events-main">


    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Introduction to Python</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">REGISTER</a>
    </div>
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>

<h3 class="events-main-h3">29 JUNE 2017</h3>
<hr class="featurette-divider">

<div class="row featurette events-main">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Server Side Push</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">REGISTER</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>

<h3 class="events-main-h3">29 JULY 2017</h3>
<hr class="featurette-divider">

<div class="row featurette events-main">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Agile Planning for Small Teams</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">REGISTER</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">

<div class="col-sm-12 col-md-12 col-lg-12 pagination text-center">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>

<!--end of events-->

<!-- Testimonials (carousel)
    ================================================== -->
<hr class="no-marginbottom-hr">

<div class="container col-xs-12 testimonials parallax">
    <div class="row overlay" align="center">
        <h1 align="center">Overheard at our events...</h1>
        <div class="partial-border"></div>

        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->

            <div class="col-xs-offset-3 col-xs-6">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/student.jpg">
                                <h3>JONATHAN DOE</h3>
                                <h4>Start-up co-founder</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>
                                    "Stack Up's Full Stack Foundation course was a well-rounded introduction to the
                                    world of software engineering. I believe the skills and technologies taught during
                                    the course will be immensely useful to my career in tech."
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/studentgirl.jpg">
                                <h3>JANE DOE</h3>
                                <h4>Software Engineer</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>"Lorem ipsum quae expedita libero accusamus aborum dolore illum fuga veniam quae
                                    expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti
                                    tenetur iusto officiis recusandae corporis culpa quaerat?"</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/nathan.jpg">
                                <h3>NATHAN HART</h3>
                                <h4>Student</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>"Lorem ipsum quae expedita libero accusamus aborum dolore illum fuga veniam quae
                                    expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti
                                    tenetur iusto officiis recusandae corporis culpa quaerat?"</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Controls --> <a class="left carousel-control" data-target="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
            <a class="right carousel-control" data-target="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>

    </div>
</div>

<!--end testimonials (carousel)-->

<!--Start of past events-->
<h1 align="center" class="events-title2">Past Events</h1>
<hr class="featurette-divider">
<div class="row featurette events-main">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Introduction to Python</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">LEARN MORE</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette events-main">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Server Side Push</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">LEARN MORE</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette events-main">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 animated fadeInUp">
        <h1 class="featurette-heading">Agile Planning for Small Teams</h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">LEARN MORE</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">

<div class="col-sm-12 col-md-12 col-lg-12 pagination text-center">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>

<!--end of events-->
