/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    /*padding-bottom: 40px;*/
    /*color: #5a5a5a;*/
}

.text-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CUSTOMIZE INFO AND CONTACT INFO
-------------------------------------------------- */
.filler {
    width: 100%;
    height: 130px;
    font-family: 'Oswald';
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 500;
    /*background-color: #3a3e3f*/
}

.filler .col-md-3, .col-lg-3 {
    padding: 2em 0 2em 0;
    color: #3a3e3f;
    text-align: right;
}

.filler .col-xs-12, .col-md-6, .col-lg-6 {
    padding-left: 0;
}

/*.filler .col-xs-12, .col-md- {*/
/*padding-left: 0;*/
/*}*/

.stackup-logo {
    object-fit: cover;
    max-height: 130px;
    padding-left: 0;
    /*padding: 1em;*/
}

/*----------------------
  $NAVBAR
    basic navbar styling
  ----------------------*/

.navbar-fixed {
    position: fixed;
    /*top: -3em;*/
}

.navbar-default {
    width: 100%;
    /*background: #2e2e2e;*/
    /*font-weight: bold;*/
    z-index: 199;
    /*border: 1px solid black;*/
    /*padding-top: 1em;*/
    /*padding-bottom: 1em;*/
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-family: 'Oswald';
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 1.1em;
    /*padding: inherit;*/
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkorange;
}

.navbar-default .btn {
    border-radius: 0;
    /*padding: 1em;*/
    border: 1px solid white;
    color: black;
}

.navbar-default .form-control {
    border-radius: 0;
    border: 1px solid grey;
    font-family: 'Oswald';
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 1.1em;
}

nav ul {
    text-align: left;
    margin: 0;
}

nav ul li {
    display: inline-block;
    /*padding: 0 3em;*/
    /*line-height: 3em;*/
}

/*nav ul li:hover {*/
/*background: grey;*/
/*}*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-collapse {
    /*padding-left: 0;*/
}

.navbar .container-fluid {
    padding-left: 0;
}

/*.navbar-brand {*/
/*padding: 0px;*/
/*}*/

/*.navbar-brand>img {*/
/*height: 100%;*/
/*!*padding: 15px;*!*/
/*width: auto;*/
/*}*/

/*FOR THE DROPDOWN MENU TO APPEAR ON HOVER*/
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    font-family: 'Roboto';
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    margin-top: 10px;
}

.dropdown-menu .ul .li {
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /*top: 50px;*/
    margin-top: 10px;
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 500;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*transition: display 3s;*/
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    height: 600px;
    /*margin-bottom: 60px;*/
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 600px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.6;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    right: 12%;
    left: 12%;
    top: 20%;
    /*bottom: 10%;*/
    padding-bottom: 0;
    /*min-width: 300px;*/
    /*max-width: 480px;*/

    /*letter-spacing: 0.3em;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*bottom: 25%;*/
}

.carousel-caption p {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.5em;
    /*font-size: 2vw;*/
}

.carousel-caption h1 {
    font-weight: 500;
    font-size: 5em;
    /*font-size: 7vw;*/
    font-family: 'Oswald';
    letter-spacing: 0.08em;
}

.carousel-caption .btn {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 0.6em;
    padding: 1em 3em 1em 3em;
    border: 1px solid white;
    color: white;
    /*background-color: transparent;*/
}

.carousel-caption .btn:hover {
    color: black;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

.custom-margin {
    margin-bottom: 60px;
}

/*.carousel-control .glyphicon:hover {*/
/*border: 1px solid white;*/
/*padding: 1em;*/
/*transition: border 3s;*/
/*}*/

.carousel-control .border-glyphicon {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Featurettes
------------------------- */

.featurette-divider {
    /*margin: 80px 0; !* Space out the Bootstrap <hr> more *!*/
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
    font-family: 'Roboto';
}

.about-us .lead {
    margin: 1em 6em 1em 6em;
    border-left: 5px solid lightgrey;
    padding-left: 1em;
    font-family: 'Roboto';
}

.about-us h1 {
    font-family: 'Oswald';
    font-weight: 500;
    /*font-size: 2em;*/
    margin: 1em 4em 1em 3.5em;
}

.about-us img {
    padding: 0;
    height: 500px;
    object-fit: cover;
}

.about-us .btn {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-left: 9em;
    margin-bottom: 1em;
    padding: 1em 3em 1em 3em;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.about-us .btn:hover {
    color: black;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

.about-us .white-version {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-left: 9em;
    padding: 1em 3em 1em 3em;
    border: 1px solid lightgrey;
    color: black;
    background-color: white;
}

.about-us .white-version:hover {
    color: white;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

/* Coaches and Instructors
------------------------- */

.coaches {
    background-color: whitesmoke;
    /*padding: 0;*/
    /*margin: 0;*/
}

.coaches h1 {
    font-family: 'Oswald';
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    /*border-bottom: 5px solid black;*/
}

.coaches h3 {
    font-family: 'Oswald';
    /*padding-left: 1em;*/
}

.coaches .adjunct-title {
    font-family: 'Oswald';
    font-size: 1.3em;
    letter-spacing: 0.15em;
    padding-bottom: 1em;
    color: gray;
    /*padding-left: 1em;*/
}

.coaches img {
    object-fit: cover;
    height: 350px;
    padding-top: 1em;
}

.coaches .white-version {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em 3em 1em 3em;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.coaches .white-version:hover {
    color: white;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

.partial-border {
    background-color: black;
    width: 60px;
    height: 3px;
    margin-bottom: 2em;

}

.adjunct-info {
    display: none;
    border-left: 5px solid lightgrey;
    padding-left: 1em;
    font-family: 'Roboto';
    color: black;
}

.adjunctChuk:hover + .adjunct-info {
    display: block;
}

/* Testimonials
------------------------- */

.testimonials h1 {
    font-family: 'Oswald';
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    color: white;
}

.testimonials {
    /*background-image: url('home/img/img2.jpg');*/
    padding: 0;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url("home/img/empower.jpg");
    /*background: rgba(70, 72, 82, 0.3);*/
    /* Set a specific height */
    height: 700px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: rgba(70, 72, 82, 0.9);
    height: 100%;
}

.no-marginbottom-hr {
    margin-bottom: 0;
}

.testimonials .partial-border {
    background-color: white;
}

.testimonials .carousel {
    max-height: 525px;
    background-color: transparent;
}

.testimonials .carousel-control {
    background: none;
}

.testimonials .carousel-content {
    color: white;
    display: flex;
    align-items: center;
    max-height: 100%;
    font-family: 'Roboto';
    font-size: 1.2em;
}

.testimonials .carousel .item {
    max-height: 525px;
    background-color: transparent;
    /*display:flex;*/
    /*background-color: black;*/
}

.testimonials img {
    border-radius: 50%;
    max-width: 200px;
}

.testimonials h3 {
    font-family: 'Oswald';
}

.testimonials p {
    margin: 2em 1em 1em 1em;
    font-family: 'Roboto';
    /*font-size: 4vw;*/
}

/* Events
------------------------- */
.carousel .item {
    height: 600px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.6;
}

.events h1 {
    font-family: 'Oswald';
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    color: black;
}

.events {
    background-color: whitesmoke;
}

.events .partial-border {
    background-color: black;
}

.events img {
    object-fit: cover;
    width: 350px;
    height: 250px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.events img:hover {
    opacity: 0.4;
    transition: opacity 0.5s;
}

.events h3 {
    font-family: 'Roboto';
    font-weight: 700;
}

.events h3 a {
    color: black;
}

.events h3 a:hover {
    color: darkorange;
    transition: all 0.5s;
}

.events .events-date {
    color: dimgrey;
}

.events .white-version {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
    padding: 1em 3em 1em 3em;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.events .white-version:hover {
    color: white;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

/*.pagination {*/
    /*display: inline-block;*/
/*}*/

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    color: darkorange;
}

/* Footer
------------------------- */

footer {
    background-color: rgba(4, 8, 14, 0.8);
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
}

.footerleft {
    margin-top: 50px;
    padding: 0 36px;
    font-family: 'Roboto';
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    font-family: 'Oswald';
    letter-spacing: 0.1em;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 50px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
    font-family: 'Roboto';
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: darkorange;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    color: #d9d6d6;
    margin-bottom: 22px;
    font-family: 'Oswald';
    letter-spacing: 0.1em;
    font-weight: 500;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}


/* Events main
------------------------- */

/*.featurette-divider {*/
    /*!*margin: 80px 0; !* Space out the Bootstrap <hr> more *!*!*/
/*}*/

/*!* Thin out the marketing headings *!*/
/*.featurette-heading {*/
    /*font-weight: 500;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
    /*font-family: 'Roboto';*/
/*}*/

.events-main .lead {
    margin: 0em 0em 1em 0em;
    border-left: 5px solid lightgrey;
    padding-left: 1em;
    padding-right: 2em;
    font-family: 'Roboto';
    font-size: 1em;
}

.events-main h1 {
    font-family: 'Oswald';
    font-weight: 400;
    /*font-size: 2em;*/
    margin: 0 0 1em 0;
}

.events-main-h3 {
    font-family: 'Oswald';
    font-weight: 200;
    padding-left: 1em;
    /*font-size: 2em;*/
    margin: 3em 0 1em 0;
    letter-spacing: 0.1em;
}

/*.events-main-h3 {*/
    /*font-family: 'Oswald';*/
    /*font-weight: 200;*/
    /*padding-left: 1em;*/
    /*!*font-size: 2em;*!*/
    /*margin: 2em 0em 1em 0em;*/
    /*letter-spacing: 0.1em;*/
/*}*/

.events-title {
    font-weight: 600;
    font-family: 'Oswald';
    font-size: 3em;
    padding-top: 1em;
}

.events-title2 {
    font-weight: 600;
    font-family: 'Oswald';
    font-size: 3em;
    padding-top: 1em;
    /*margin-top: 2em;*/
}

.events-main img {
    padding: 0;
    height: 250px;
    object-fit: cover;
}

.events-main .btn {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-left: 0em;
    margin-top: 2em;
    padding: 1em 3em 1em 3em;
    border: 1px solid black;
    color: white;
    background-color: black;
}

.events-main .btn:hover {
    color: black;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}

.events-main .white-version {
    border-radius: 0;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1em;
    margin-left: 9em;
    padding: 1em 3em 1em 3em;
    border: 1px solid lightgrey;
    color: black;
    background-color: white;
}

.events-main .white-version:hover {
    color: white;
    background-color: darkorange;
    border: 1px solid darkorange;
    transition: all 0.5s;
}


/*# sourceMappingURL=index.css.map */
