<!--&lt;!&ndash; logo and contact info-->
    <!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash;<div class="container filler">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row col-xs-12 col-md-6 col-lg-6"><img src="app/assets/stackuplogofb.jpg" class="stackup-logo"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="row col-xs-3"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row col-xs-12 col-md-3 col-lg-3"><span><i class="fa fa-phone"></i></span> <span>+65 789 8898</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row col-xs-12 col-md-3 col-lg-3"><i class="fa fa-map-marker"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;Blk 79 AYER RAJAH CRESCENT <br>&ndash;&gt;-->
        <!--&lt;!&ndash;#02-09 <br>&ndash;&gt;-->
        <!--&lt;!&ndash;SINGAPORE 111222&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;logo and contact info ends&ndash;&gt;-->

<!-- Navbar
    ================================================== -->
<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand"><img src="app/assets/stackuplogofb.jpg"></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">HOME<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        COURSES
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated fadeIn">
                        <li><a href="#">Coder In You</a></li>
                        <li><a href="#">Full Stack Foundation</a></li>
                        <li><a href="#">DevOps</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a ui-sref="events">EVENTS</a></li>
                <li><a href="#">ABOUT US</a></li>
                <!--<li><a href="#">STUDENT PROFILES</a></li>-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><u>LOGIN</u></a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="SEARCH">
                </div>
                <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--navbar ends-->

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="../app/home/img/empower.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption animated fadeInUp">
                    <div class="container col-xs-12">
                    <h1 class="custom-margin">EMPOWER YOUR IMAGINATION</h1>
                    <p class="custom-margin">Note: If you're viewing this page via a <code>file://</code> URL, the
                        "next" and "previous" Glyphicon buttons on the left and right might not load/display properly
                        due to web browser security rules.</p>
                    <p class="custom-margin"><a class="btn btn-lg btn-default-outline" href="#" role="button">SIGN
                        UP</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="../app/home/img/kickstart.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption animated fadeInUp">
                    <h1 class="custom-margin">KICKSTART A CAREER YOU LOVE</h1>
                    <p class="custom-margin">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                        non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="custom-margin"><a class="btn btn-lg btn-primary-outline" href="#" role="button">LEARN
                        MORE</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="../app/home/img/img1.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption animated fadeInUp">
                    <h1 class="custom-margin">WHAT IS STACK UP?</h1>
                    <p class="custom-margin">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                        non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="custom-margin"><a class="btn btn-lg btn-primary-outline" href="#" role="button">BROWSE</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left animated slideInLeft" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <!--<div class="border-glyphicon animated slideInRight"></div>-->
        <span class="glyphicon glyphicon-chevron-right animated slideInRight" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->

<!-- Registration form
    ================================================== -->
<!--<div class="container">-->

<!--</div>-->
<!--end Registration form-->

<!-- About Us
    ================================================== -->
<hr class="featurette-divider">

<div class="row featurette about-us">
    <!--<div class="col-md-7 col-md-push-5">-->
    <div class="col-md-6 col-md-push-6 col-xs-12 animated fadeInUp">
        <h1 class="featurette-heading">A few words about Stack Up. </h1>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <a class="btn btn-lg btn-default-outline" href="#" role="button">LEARN MORE</a>
    </div>
    <!--<div class="col-md-5 col-md-pull-7">-->
    <div class="col-md-6 col-md-pull-6 col-xs-12">
        <img class="featurette-image img-responsive center-block" src="../app/home/img/kickstart.jpg"
             alt="Generic placeholder image">
    </div>
</div>
<!--end About Us-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette about-us">-->
    <!--<div class="col-md-6 col-md-push-6">-->
        <!--<img class="featurette-image img-responsive center-block" src="../app/home/img/empower.jpg"-->
             <!--alt="Generic placeholder image">-->
    <!--</div>-->
    <!--<div class="col-md-6 col-md-pull-6">-->
        <!--<h1 class="featurette-heading">A day in the life of a student</h1>-->
        <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod-->
            <!--semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus-->
            <!--commodo.</p>-->
        <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">LEARN MORE</a>-->

    <!--</div>-->
<!--</div>-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette about-us">-->
    <!--<div class="col-md-6 col-md-push-6">-->
        <!--<h1 class="featurette-heading">Benefits of learning to code</h1>-->
        <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod-->
            <!--semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus-->
            <!--commodo.</p>-->
        <!--<a class="btn btn-lg btn-default-outline" href="#" role="button">LEARN MORE</a>-->

    <!--</div>-->
    <!--<div class="col-md-6 col-md-pull-6">-->
        <!--<img class="featurette-image img-responsive center-block" src="../app/home/img/img2.jpg"-->
             <!--alt="Generic placeholder image">-->
    <!--</div>-->
<!--</div>-->

<!--<hr class="featurette-divider">-->

<!--<div class="row featurette about-us">-->
    <!--<div class="col-md-6 col-md-push-6">-->
        <!--<img class="featurette-image img-responsive center-block" src="../app/home/img/img1.jpg"-->
             <!--alt="Generic placeholder image">-->
    <!--</div>-->
    <!--<div class="col-md-6 col-md-pull-6">-->
        <!--<h1 class="featurette-heading">Why Stack Up? </h1>-->
        <!--<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod-->
            <!--semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus-->
            <!--commodo.</p>-->
        <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">LEARN MORE</a>-->

    <!--</div>-->
<!--</div>-->

<!-- Coaches and Instructors
    ================================================== -->
<hr class="no-marginbottom-hr">
<div class="container col-xs-12 coaches" id="coach">
    <div class="row" align="center">
        <h1 align="center">Coaches & Instructors</h1>
        <div class="partial-border"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/lee.chuk.munn.png" class="adjunctChuk">
            <h3 align="left" class="adjunctChuk">Lee Chuk Munn</h3>
            <p align="left" class="adjunct-title adjunctChuk">HEAD INSTRUCTOR, NUS-ISS</p>
            <p class="adjunct-info animated fadeIn">
                Chuk is with the Advanced Technology Applications Practice for National University of Singapore,
                Institute of Systems Science (NUS-ISS).
            </p>
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/nathaniel.currier.png">
            <h3 align="left">Nathaniel Currier</h3>
            <p align="left" class="adjunct-title">CTO, TEMASYS COMMUNICATIONS</p>
            <!--<p class="adjunct-info">-->
                <!--Nathaniel brings 18 years of high-end product focused engineering leadership and software development-->
                <!--experience.-->
            <!--</p>-->
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/vincent.lau.png">
            <h3 align="left">Vincent Lau</h3>
            <p align="left" class="adjunct-title">CTO, TAKATACK TECHNOLOGIES</p>
            <!--<p class="adjunct-info">-->
                <!--Vincent leads the talented team of engineers behind TackThis, an e-retail platform that empowers-->
                <!--individuals and businesses.-->
            <!--</p>-->
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/lee.chuk.munn.png">
            <h3 align="left">Lee Chuk Munn</h3>
            <p align="left" class="adjunct-title">HEAD INSTRUCTOR, NUS-ISS</p>
            <!--<p class="adjunct-info">-->
            <!--Chuk is with the Advanced Technology Applications Practice for National University of Singapore,-->
            <!--Institute of Systems Science (NUS-ISS).-->
            <!--</p>-->
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/nathaniel.currier.png">
            <h3 align="left">Nathaniel Currier</h3>
            <p align="left" class="adjunct-title">CTO, TEMASYS COMMUNICATIONS</p>
            <!--<p class="adjunct-info">-->
            <!--Nathaniel brings 18 years of high-end product focused engineering leadership and software development-->
            <!--experience.-->
            <!--</p>-->
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>
        <div class="col-md-4">
            <img src="../app/home/img/adjuncts/vincent.lau.png">
            <h3 align="left">Vincent Lau</h3>
            <p align="left" class="adjunct-title">CTO, TAKATACK TECHNOLOGIES</p>
            <!--<p class="adjunct-info">-->
            <!--Vincent leads the talented team of engineers behind TackThis, an e-retail platform that empowers-->
            <!--individuals and businesses.-->
            <!--</p>-->
            <!--<a class="btn btn-lg btn-default-outline white-version" href="#" role="button">MORE</a>-->
        </div>

    </div>
    <div class="container text-center">
        <a class="btn btn-lg btn-default-outline white-version text-center" href="#" role="button">VIEW ALL INSTRUCTORS</a>
    </div>
</div>

<!--end Coaches and Instructors-->

<!-- Testimonials (carousel)
    ================================================== -->
<hr class="no-marginbottom-hr">

<div class="container col-xs-12 testimonials parallax">
    <div class="row overlay" align="center">
        <h1 align="center">What do students say?</h1>
        <div class="partial-border"></div>

        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <!--<div class="row">-->
            <div class="col-xs-offset-3 col-xs-6">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/student.jpg">
                                <h3>JONATHAN DOE</h3>
                                <h4>Alumni, Class of 2017</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>
                                    "Stack Up's Full Stack Foundation course was a well-rounded introduction to the
                                    world of software engineering. I believe the skills and technologies taught during
                                    the course will be immensely useful to my career in tech."
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/studentgirl.jpg">
                                <h3>JANE DOE</h3>
                                <h4>Alumni, Class of 2016</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>"Lorem ipsum quae expedita libero accusamus aborum dolore illum fuga veniam quae
                                    expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti
                                    tenetur iusto officiis recusandae corporis culpa quaerat?"</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <img src="../app/home/img/nathan.jpg">
                                <h3>NATHAN HART</h3>
                                <h4>Alumni, Class of 2017</h4>
                                <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                <p>"Lorem ipsum quae expedita libero accusamus aborum dolore illum fuga veniam quae
                                    expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti
                                    tenetur iusto officiis recusandae corporis culpa quaerat?"</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--</div>-->
            </div>
            <!-- Controls --> <a class="left carousel-control" data-target="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
            <a class="right carousel-control" data-target="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>
    </div>
</div>

<!--end testimonials (carousel)-->

<!-- Events
    ================================================== -->
<div class="container col-xs-12 events">
    <div class="row" align="center">
        <h1 align="center">Upcoming Events</h1>
        <div class="partial-border"></div>
    </div>
    <div class="row" align="center">
        <div class="col-md-4">
            <a href="#">
                <img src="../app/home/img/img1.jpg" align="left">
            </a>
            <h3 align="left"><a href="#">Introduction to Python</a></h3>
            <p align="left" class="events-date">
                <i class="fa fa-calendar fa-lg fa-pull-left"></i>
                29 May 2017
            </p>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="../app/home/img/img2.jpg" align="left">
            </a>
            <h3 align="left"><a href="#">Server Side Push</a></h3>
            <p align="left" class="events-date">
                <i class="fa fa-calendar fa-lg fa-pull-left"></i>
                5 June 2017
            </p>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="../app/home/img/kickstart.jpg" align="left">
            </a>
            <h3 align="left"><a href="#">Agile Planning for Small Teams</a></h3>
            <p align="left" class="events-date">
                <i class="fa fa-calendar fa-lg fa-pull-left"></i>
                29 June 2017
            </p>
        </div>
        <div class="row" align="center">
            <a class="btn btn-lg btn-default-outline white-version" ui-sref="events" role="button">VIEW ALL EVENTS</a>
        </div>
    </div>
</div>
<hr>
<!--end events-->

<!-- Footer
    ================================================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft">
                <div class="logofooter">STACK UP</div>
                <p>Lorem ipsum quae expedita libero accusamus aborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto  culpa quaerat?</p>
                <p><i class="fa fa-map-pin"></i> Blk 79 Ayer Rajah Crescent, #02-09, Singapore 678900</p>
                <p><i class="fa fa-phone"></i> Phone (Singapore) : +65 6409 7896</p>
                <p><i class="fa fa-envelope"></i> E-mail : info@stackup.sg</p>

            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">QUICK LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Courses</a></li>
                    <li><a href="#"> Career</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Student Profiles</a></li>
                    <li><a href="#"> Events</a></li>
                </ul>
            </div>
            <!--<div class="col-md-3 col-sm-6 paddingtop-bottom">-->
                <!--<h6 class="heading7">LATEST POSTS</h6>-->
                <!--<div class="post">-->
                    <!--<p>How to get started with Angular 2<span>3 August 2017</span></p>-->
                    <!--<p>Implementing persistent login with Ionic framework<span>28 July 2017</span></p>-->
                    <!--<p>Basics for HTML and CSS<span>18 July 2017</span></p>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <div class="fb-page" data-href="https://www.facebook.com/stackupsg" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer liner start from here-->

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© 2017 - All rights reserved with Stack Up, NUS-ISS</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">stackup.sg</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
    </div>
</div>
<!--end Footer-->
<!--<div ui-view></div>-->